.widget {
    &_mob-hide {
        @include max-sm {
            display: none;
        }

        &_mob-show {
            display: none;

            @include max-sm {
                display: block;
            }
        }
    }

    &__outer {
        @include max-sm {
            pointer-events: all;
            margin: 0;
            border-top: 1px solid #D8D8D8;

        }
    }

    &__outer:last-child {
        @include max-sm {
            border-bottom: 1px solid #D8D8D8;
        }
    }

    &__outer+&__outer {
        margin-top: 10px;

        @include max-sm {
            margin: 0;
        }
    }

    &__title {
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        color: $black;
        margin-bottom: 10px;
        outline: none;
        pointer-events: none;

        // @include max-lg {
        //     font-size: 18px;
        //     line-height: 25px;
        // }

        @include max-sm {
            line-height: 30px;
            outline: none;
            margin-bottom: 0;
            padding: 20px 22px 19px;
            pointer-events: initial;
        }

        &_mobile {
            padding: 59px 22px 20px;
        }
    }

    &__policy-text {
        font-size: 14px;
        line-height: 25px;
        color: $black;
        margin: -8px 21px 8px;
    }

    &__content {

        @include max-sm {
            padding: 0 13px 20px;
        }

        &_mobile {
            @include max-sm {
                padding-bottom: 10px;
            }
        }
    }

    &-menu {
        &__link {
            font-size: 16px;
            line-height: 30px;
            color: $wetasphalt;

            // @include max-lg {
            //     font-size: 15px;
            //     line-height: 20px;
            // }

            @include max-sm {
                font-size: 16px;
                line-height: 30px;
                padding: 0 10px;
            }
        }

        &__item+&__item {
            margin-top: 10px;
        }
    }

    &__social {
        margin: 0 0 30px;

        @include max-sm {
            margin: 0 9px;
        }
    }

    &-form {
        margin: 0 auto;

        @include max-sm {
            max-width: 335px;
        }

        @include max-iph {
            max-width: 280px;
        }

        &__input {
            border: 1px solid $gainsboro;

        }

        &__button {
            padding: 10px;
            margin: 17px 0 29px;
            background-color: $white;

            font-weight: bold;
            border: 2px solid $brand-primary;
            width: 100%;
            line-height: 20px;
        }
    }
}