.widgets {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 70px;

    @include max-sm {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__group {
        &_mob-show {
            display: none;
            @include max-sm {
                display: block;
            }
        }
        @include max-sm {
            margin-left: -20px;
            margin-right: -20px;
        }

        @include max-iph {
            margin-left: -10px;
            margin-right: -10px;
        }

        &_hide {
            display: none;

            @include max-sm {
                display: block;
            }
        }
    }

    .widgets__group:first-child .widget__outer:first-child {
        @include max-sm {
            margin-top: 0;
        }
    }
}