.burger {
    width: 20px;
    height: 20px;
    margin: 20px;
    position: relative;
    background-color: $white;
    outline: none;
    

    span {
        width: 18px;
        height: 2px;
        display: block;
        background-color: $gray;
        border-radius: 1px;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        top: 4px;

        +span {
            top: 9px;

            +span {
                top: 1.02em;
            }
        }
    }

    @include lg {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }

}