.logos {
    @include xxl {
        max-height: 350px;
    }

    &__link {
        display: block;
    }

    &__logo {
        width: 100%;
    }

    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        margin: 58px auto 0;
        gap: 40px 95px;

        @include max-xl {
            gap: 50px 50px;
        }

        @include max-lg {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

        @include max-sm {
            gap: 0 50px;
            margin: 20px auto 0;
        }

        &__logo {

            // padding: 37px 64px 0;
            @include max-sm {
                margin: 10px;
            }
            @include max-iph {
                margin: 0;
            }
        }

        // &__logo svg {
        //     @include max-sm {
        //         width: 100%;
        //     }

        // }
    }
}