<div class="contacts">
    <img class="contacts__background" src="images/bg2.jpg" alt="background">
    <div class="container">
        <div class="contacts__left">
            <div class="container-title container-title_white">Book Crystal demo now</div>
            <form class="contacts__form" action="">
                <div class="inputs-group">
                    <input class="input inputs-group__input" type="text" placeholder="First name">
                    <input class="input inputs-group__input" type="text" placeholder="Last name">
                </div>
                <input class="input" type="text" placeholder="Company name">
                <input class="input" type="text" placeholder="Corporate email (also used for login later)">
                <div class="inputs-group">
                    <select class="input inputs-group__select">
                        <option class="option" selected value="United States">United States</option>
                        <option class="option" value="Ukraine">Ukraine</option>
                    </select>
                    <div class="inputs-flex">
                            <select class="input input_code">
                                <option selected value="+1">+1</option>
                                <option value="+38">+38</option>
                            </select>
                            <svg class="inputs-flex__arrow" width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0L4 4L0 0L8 0Z" fill="#666666"/>
                            </svg>
                        <input class="input input_radius inputs-group__input" type="text">          
                    </div>
                </div>
                <textarea class="textarea" placeholder="Describe your need for Crystal"></textarea>
                <div class="checkbox">
                    <label for="checkbox__text">
                        <input class="checkbox__input" type="checkbox">
                    </label>
                    <div class="checkbox__text" id="checkbox__text">I have read the <a href="#"> Privacy Policy</a>and agree with processing of my data provided above by the Bitfury Group according to the policy.</div>
                </div>
                <div class="checkbox">
                    <input class="checkbox__input" type="checkbox">
                    <div class="checkbox__text">I want to receive regular news from Crystal</div>
                </div>
            </form>
        </div>
        <div class="contacts__right">

        </div>
    </div>
</div>