<div class="footer footer__outher">
    <div class="container">
        <div class="widgets">

            <div class="widgets__group widgets__group_hide">
                <div class="widget widget__outer">
                    <div class="widget__title">Follow us</div>
                    <div class="widget__content">
                        <div class="social widget__social">
                            <ul class="social__list">
                                <li class="social__item">
                                    <a class="social__link" href="#">
                                        <svg class="social__icon social__icon_facebook" width="12" height="20"
                                            viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11.5481 0.00416134L8.66986 0C5.43624 0 3.34653 1.9319 3.34653 4.92203V7.19141H0.452578C0.202505 7.19141 0 7.37409 0 7.59943V10.8875C0 11.1128 0.202736 11.2953 0.452578 11.2953H3.34653V19.5922C3.34653 19.8175 3.54904 20 3.79911 20H7.5749C7.82497 20 8.02748 19.8173 8.02748 19.5922V11.2953H11.4112C11.6613 11.2953 11.8638 11.1128 11.8638 10.8875L11.8652 7.59943C11.8652 7.49124 11.8174 7.38762 11.7326 7.31105C11.6479 7.23448 11.5324 7.19141 11.4123 7.19141H8.02748V5.26763C8.02748 4.34298 8.27201 3.87358 9.60873 3.87358L11.5477 3.87295C11.7975 3.87295 12 3.69027 12 3.46514V0.411972C12 0.187052 11.7977 0.00457747 11.5481 0.00416134Z"
                                                fill="black" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a class="social__link" href="#">
                                        <svg class="social__icon social__icon_twitter" width="22" height="20"
                                            viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M19.876 6.37267C19.3752 13.62 14.7245 19.4079 7.97255 19.959C6.63372 20.067 5.34775 19.959 4.09952 19.6682L2.40837 19.1365C1.82704 18.9094 1.25829 18.6408 0.697095 18.3251C0.663768 18.3071 0.629893 18.2902 0.595736 18.2731C0.387432 18.1688 0.16864 18.0593 0 17.6881C2.30016 17.8183 4.35369 17.3087 6.30908 15.7939C5.99939 15.6453 5.70433 15.5464 5.42241 15.4519C5.1316 15.3544 4.85476 15.2615 4.59025 15.1237C3.75475 14.6806 3.17342 13.9772 2.72295 13.1326C2.30016 12.3544 2.39831 12.1716 3.20361 12.1384C3.23229 12.1369 3.26116 12.1357 3.2903 12.1346C3.4709 12.1277 3.66207 12.1203 3.88309 12.0082C3.73456 11.9196 3.58603 11.8363 3.43501 11.7517C3.34551 11.7016 3.25512 11.6509 3.16335 11.5984C2.63487 11.3048 2.19195 10.9282 1.84717 10.4823L1.87709 10.3665C1.51787 9.76827 1.28473 9.07156 1.15479 8.30028C1.05664 7.72703 1.07677 7.32825 1.77387 7.66334C1.78004 7.66624 1.78623 7.66915 1.79245 7.67208C1.99439 7.76716 2.22439 7.87545 2.47096 7.74919C2.49969 7.49436 2.36322 7.34521 2.22873 7.19822C2.17467 7.13914 2.12094 7.08042 2.07838 7.01532C1.03651 5.40357 0.850281 3.68105 1.52976 1.83115C1.68579 1.37698 1.8242 1.33544 2.15891 1.75638C2.63912 2.34804 3.1461 2.88815 3.68396 3.37218L3.69435 3.33196C5.3855 4.73877 7.33333 5.63603 9.51521 6.04866C10.5369 6.24251 10.547 6.20928 10.615 5.09602C10.7534 3.11595 11.4807 1.50421 13.1617 0.606945C14.7044 -0.237698 16.3276 -0.248775 17.7344 0.878339C18.6177 1.58175 19.3651 1.53744 20.2308 1.08327C20.3392 1.02547 20.4461 0.963304 20.5522 0.901618C20.685 0.824391 20.8166 0.747919 20.9481 0.681717C20.9687 0.674587 20.991 0.666092 21.0141 0.657261C21.0899 0.628362 21.175 0.595868 21.2425 0.595868L21.3306 0.6291C21.469 0.733063 21.4041 0.885574 21.3452 1.02398C21.3366 1.0441 21.3282 1.06393 21.3205 1.08327C21.016 1.81714 20.5454 2.41254 19.8961 3.06333C20.675 2.98642 21.2731 2.73238 21.9827 2.43096L22 2.42362C21.7534 3.24611 21.2828 3.75566 20.7996 4.18768C20.1503 4.772 19.9439 5.44218 19.876 6.37267Z"
                                                fill="black" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a class="social__link" href="#">
                                        <svg class="social__icon social__icon_linkedin" width="20" height="20"
                                            viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M4.16376 3.99824C3.71774 4.44574 3.12909 4.66952 2.39792 4.66952H2.37917C1.67294 4.66952 1.10004 4.44574 0.660009 3.99824C0.219916 3.55074 0 2.99633 0 2.33486C0 1.66045 0.226296 1.10263 0.678433 0.661536C1.1309 0.22058 1.7163 0 2.4349 0C3.15356 0 3.72979 0.22058 4.16356 0.661536C4.59721 1.10263 4.82032 1.66045 4.83262 2.33486C4.83256 2.99606 4.60978 3.55047 4.16376 3.99824ZM4.55385 19.5C4.55385 19.7761 4.33 20 4.05385 20H0.760214C0.484072 20 0.260215 19.7761 0.260215 19.5V6.99801C0.260215 6.72187 0.484072 6.49801 0.760215 6.49801H4.05385C4.33 6.49801 4.55385 6.72187 4.55385 6.99801V19.5ZM15.7061 19.5C15.7061 19.7761 15.93 20 16.2061 20H19.5C19.7761 20 20 19.7761 20 19.5V12.2562C20 10.2593 19.5478 8.74804 18.6432 7.72337C17.7387 6.6989 16.5427 6.18646 15.0558 6.18646C13.3929 6.18646 12.1109 6.9267 11.2082 8.40412V6.99788C11.2082 6.72173 10.9843 6.49788 10.7082 6.49788H7.41453C7.13839 6.49788 6.91453 6.72173 6.91453 6.99788V19.4999C6.91453 19.7761 7.13839 19.9999 7.41453 19.9999H10.7082C10.9843 19.9999 11.2082 19.7761 11.2082 19.4999V12.4514C11.2082 11.9586 11.2514 11.5955 11.3383 11.3624C11.5239 10.908 11.8026 10.5221 12.1747 10.2045C12.5463 9.88671 13.005 9.72787 13.5502 9.72787C14.9876 9.72787 15.7061 10.7462 15.7061 12.7823V19.5Z"
                                                fill="black" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                 <div class="widget">
                    <div class="widget__title">Be the first to know news from Crystal</div>
                    <div class="widget__policy-text">By clicking Subscribe you agree to our <a class="privacy-ref_gray" href="#"> Privacy Policy </a></div>
                    <input class="input widget__input" type="text">
                    <button class="button widget__button" type="button">Subscribe</button>
                </div>
            </div>
            <div class="widgets__group">
                <details class="widget widget__outer" open>
                    <summary class="widget__title">Company</summary>
                    <div class="widget__content">
                        <ul class="widget-menu">
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">Partners</a>
                            </li>
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">About Us</a>
                            </li>
                        </ul>
                    </div>
                </details>
                <details class="widget widget__outer" open>
                    <summary class="widget__title">Blog</summary>
                    <div class="widget__content">
                        <ul class="widget-menu">
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">All News</a>
                            </li>
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">Product Updates</a>
                            </li>
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">Articles</a>
                            </li>
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">Investigations</a>
                            </li>
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">Use Cases</a>
                            </li>
                        </ul>
                    </div>
                </details>
            </div>
            <div class="widgets__group">
                <details class="widget widget__outer" open>
                    <summary class="widget__title">Solutions</summary>
                    <div class="widget__content">
                        <ul class="widget-menu">
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">5 AMLD Regulation</a>
                            </li>
                        </ul>
                    </div>
                </details>
                <details class="widget widget__outer" open>
                    <summary class="widget__title">Insights</summary>
                    <div class="widget__content">
                        <ul class="widget-menu">
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">Bitcoin Flow Map</a>
                            </li>
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">Investigations</a>
                            </li>
                        </ul>
                    </div>
                </details>
            </div>
            <div class="widgets__group">
                <details class="widget widget__outer" open>
                    <summary class="widget__title">Customers</summary>
                    <div class="widget__content">
                        <ul class="widget-menu">
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">Government Agencies</a>
                            </li>
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">Banks & Financial Institutions</a>
                            </li>
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">Crypto Exchanges & Businessesv</a>
                            </li>
                        </ul>
                    </div>
                </details>
            </div>
            <div class="widgets__group">
                <details class="widget widget__outer" open>
                    <summary class="widget__title">Products</summary>
                    <div class="widget__content">
                        <ul class="widget-menu">
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">Expert, Pro, API</a>
                            </li>
                        </ul>
                    </div>
                </details>
                <details class="widget widget__outer" open>
                    <summary class="widget__title">Policies</summary>
                    <div class="widget__content">
                        <ul class="widget-menu">
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">Cookie Policy</a>
                            </li>
                            <li class="widget-menu__item">
                                <a class="widget-menu__link" href="#">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </details>
            </div>
            <div class="widgets__group">
                <details class="widget widget__outer widget_mob-hide" open>
                    <summary class="widget__title">Follow us</summary>
                    <div class="widget__content">
                        <div class="social widget__social">
                            <ul class="social__list">
                                <li class="social__item">
                                    <a class="social__link" href="#">
                                        <svg class="social__icon social__icon_facebook" width="12" height="20"
                                            viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11.5481 0.00416134L8.66986 0C5.43624 0 3.34653 1.9319 3.34653 4.92203V7.19141H0.452578C0.202505 7.19141 0 7.37409 0 7.59943V10.8875C0 11.1128 0.202736 11.2953 0.452578 11.2953H3.34653V19.5922C3.34653 19.8175 3.54904 20 3.79911 20H7.5749C7.82497 20 8.02748 19.8173 8.02748 19.5922V11.2953H11.4112C11.6613 11.2953 11.8638 11.1128 11.8638 10.8875L11.8652 7.59943C11.8652 7.49124 11.8174 7.38762 11.7326 7.31105C11.6479 7.23448 11.5324 7.19141 11.4123 7.19141H8.02748V5.26763C8.02748 4.34298 8.27201 3.87358 9.60873 3.87358L11.5477 3.87295C11.7975 3.87295 12 3.69027 12 3.46514V0.411972C12 0.187052 11.7977 0.00457747 11.5481 0.00416134Z"
                                                fill="black" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a class="social__link" href="#">
                                        <svg class="social__icon social__icon_twitter" width="22" height="20"
                                            viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M19.876 6.37267C19.3752 13.62 14.7245 19.4079 7.97255 19.959C6.63372 20.067 5.34775 19.959 4.09952 19.6682L2.40837 19.1365C1.82704 18.9094 1.25829 18.6408 0.697095 18.3251C0.663768 18.3071 0.629893 18.2902 0.595736 18.2731C0.387432 18.1688 0.16864 18.0593 0 17.6881C2.30016 17.8183 4.35369 17.3087 6.30908 15.7939C5.99939 15.6453 5.70433 15.5464 5.42241 15.4519C5.1316 15.3544 4.85476 15.2615 4.59025 15.1237C3.75475 14.6806 3.17342 13.9772 2.72295 13.1326C2.30016 12.3544 2.39831 12.1716 3.20361 12.1384C3.23229 12.1369 3.26116 12.1357 3.2903 12.1346C3.4709 12.1277 3.66207 12.1203 3.88309 12.0082C3.73456 11.9196 3.58603 11.8363 3.43501 11.7517C3.34551 11.7016 3.25512 11.6509 3.16335 11.5984C2.63487 11.3048 2.19195 10.9282 1.84717 10.4823L1.87709 10.3665C1.51787 9.76827 1.28473 9.07156 1.15479 8.30028C1.05664 7.72703 1.07677 7.32825 1.77387 7.66334C1.78004 7.66624 1.78623 7.66915 1.79245 7.67208C1.99439 7.76716 2.22439 7.87545 2.47096 7.74919C2.49969 7.49436 2.36322 7.34521 2.22873 7.19822C2.17467 7.13914 2.12094 7.08042 2.07838 7.01532C1.03651 5.40357 0.850281 3.68105 1.52976 1.83115C1.68579 1.37698 1.8242 1.33544 2.15891 1.75638C2.63912 2.34804 3.1461 2.88815 3.68396 3.37218L3.69435 3.33196C5.3855 4.73877 7.33333 5.63603 9.51521 6.04866C10.5369 6.24251 10.547 6.20928 10.615 5.09602C10.7534 3.11595 11.4807 1.50421 13.1617 0.606945C14.7044 -0.237698 16.3276 -0.248775 17.7344 0.878339C18.6177 1.58175 19.3651 1.53744 20.2308 1.08327C20.3392 1.02547 20.4461 0.963304 20.5522 0.901618C20.685 0.824391 20.8166 0.747919 20.9481 0.681717C20.9687 0.674587 20.991 0.666092 21.0141 0.657261C21.0899 0.628362 21.175 0.595868 21.2425 0.595868L21.3306 0.6291C21.469 0.733063 21.4041 0.885574 21.3452 1.02398C21.3366 1.0441 21.3282 1.06393 21.3205 1.08327C21.016 1.81714 20.5454 2.41254 19.8961 3.06333C20.675 2.98642 21.2731 2.73238 21.9827 2.43096L22 2.42362C21.7534 3.24611 21.2828 3.75566 20.7996 4.18768C20.1503 4.772 19.9439 5.44218 19.876 6.37267Z"
                                                fill="black" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a class="social__link" href="#">
                                        <svg class="social__icon social__icon_linkedin" width="20" height="20"
                                            viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M4.16376 3.99824C3.71774 4.44574 3.12909 4.66952 2.39792 4.66952H2.37917C1.67294 4.66952 1.10004 4.44574 0.660009 3.99824C0.219916 3.55074 0 2.99633 0 2.33486C0 1.66045 0.226296 1.10263 0.678433 0.661536C1.1309 0.22058 1.7163 0 2.4349 0C3.15356 0 3.72979 0.22058 4.16356 0.661536C4.59721 1.10263 4.82032 1.66045 4.83262 2.33486C4.83256 2.99606 4.60978 3.55047 4.16376 3.99824ZM4.55385 19.5C4.55385 19.7761 4.33 20 4.05385 20H0.760214C0.484072 20 0.260215 19.7761 0.260215 19.5V6.99801C0.260215 6.72187 0.484072 6.49801 0.760215 6.49801H4.05385C4.33 6.49801 4.55385 6.72187 4.55385 6.99801V19.5ZM15.7061 19.5C15.7061 19.7761 15.93 20 16.2061 20H19.5C19.7761 20 20 19.7761 20 19.5V12.2562C20 10.2593 19.5478 8.74804 18.6432 7.72337C17.7387 6.6989 16.5427 6.18646 15.0558 6.18646C13.3929 6.18646 12.1109 6.9267 11.2082 8.40412V6.99788C11.2082 6.72173 10.9843 6.49788 10.7082 6.49788H7.41453C7.13839 6.49788 6.91453 6.72173 6.91453 6.99788V19.4999C6.91453 19.7761 7.13839 19.9999 7.41453 19.9999H10.7082C10.9843 19.9999 11.2082 19.7761 11.2082 19.4999V12.4514C11.2082 11.9586 11.2514 11.5955 11.3383 11.3624C11.5239 10.908 11.8026 10.5221 12.1747 10.2045C12.5463 9.88671 13.005 9.72787 13.5502 9.72787C14.9876 9.72787 15.7061 10.7462 15.7061 12.7823V19.5Z"
                                                fill="black" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </details>
                <details class="widget widget__outer" open>
                    <summary class="widget__title">Contact us</summary>
                    <div class="widget__content">
                        <ul class="widget-menu">
                            <li class="widget-menu__item">
                                <a class="widget-menu__link"
                                    href="mailto:contact@crystalblockchain.com">contact@crystalblockchain.com</a>
                            </li>
                        </ul>
                    </div>
                </details>
            </div>
        </div>
    </div>
    <div class="footer__mark">© 2020 Bitfury Group Limited.</div>
</div>