<div class="header">
    <div class="logo header__logo"></div>
    <div class="nav header__nav">
        <ul class="menu header__menu">
            <li class="item header__item"><a href="#">Products</a></li>
            <li class="item header__item header__item_arrow"><a href="#">Customers</a></li>
            <li class="item header__item header__item_arrow"><a href="#">Solutions</a></li>
            <li class="item header__item header__item_arrow"><a href="#">Insights</a></li>
            <li class="item header__item"><a href="#">Blog</a></li>
            <li class="item header__item header__item_arrow"><a href="#">Company</a></li>
        </ul>
        <button class="button header__button" type="button">GET CRYSTAL</button>
    </div>
</div>