<div class="header">
    <div class="logo header__logo"><svg width="130" height="30" viewBox="0 0 130 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.61 2H14.5193H5.42857L0 9.27273L14.5193 23.9048L29.0385 9.27273L23.61 2Z" fill="#F6BE00"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M37 15.1082V10C37 4.02597 39.7143 1.21212 45.3152 1.21212C50.7007 1.21212 53.3288 3.80952 53.5011 9.17749H49.7098C49.5805 6.06061 48.288 4.67533 45.3583 4.67533C42.2132 4.67533 40.9206 6.27706 40.9206 10.0866V15.0649C40.9206 18.8745 42.2132 20.4762 45.3583 20.4762C48.288 20.4762 49.5805 19.0909 49.7098 16.0173H53.5011C53.3288 21.3853 50.7007 23.9394 45.3152 23.9394C39.7143 23.8961 37 21.039 37 15.1082Z" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M56.4739 6.79654H59.7483L59.9206 9.87013C60.653 7.53247 62.0748 6.49351 64.4013 6.49351H65.6077V10.1732H64.746C62.161 10.1732 60.8684 11.2554 60.3514 13.9394V23.5498H56.517V6.79654H56.4739Z" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M67.6327 26.2338H69.2699C70.347 26.2338 70.8209 25.9307 71.2086 24.7619L71.7687 23.0736L65.9524 6.79654H70.0454L73.7506 18.1818L77.1973 6.79654H81.0748L74.8708 25.2381C73.7937 28.4416 72.6735 29.3939 69.7007 29.3939H67.6327V26.2338Z" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M81.5918 18.4848H85.2539C85.2539 20.1299 86.331 20.9524 88.5714 20.9524C90.6394 20.9524 91.6303 20.2597 91.6303 19.0043C91.6303 17.619 90.6394 17.0563 87.7959 16.6667C83.5737 16.1472 81.9365 14.8052 81.9365 11.6883C81.9365 8.22511 84.3061 6.40693 88.5714 6.40693C92.8367 6.40693 95.034 8.22511 95.034 11.645H91.3288C91.3288 10.0866 90.424 9.35065 88.5283 9.35065C86.7188 9.35065 85.7279 10.0433 85.7279 11.2554C85.7279 12.5974 86.7188 13.1169 89.4331 13.4199C93.7415 13.8961 95.3786 15.4113 95.3786 18.6147C95.3786 22.1212 93.0952 23.8961 88.5283 23.8961C83.8322 23.8961 81.5918 22.0779 81.5918 18.4848Z" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M98.7392 18.1385V9.78355H96.1111V6.79654H98.8254L99.0839 2.51082H102.617V6.79654H106.365V9.78355H102.617V18.0519C102.617 19.8701 103.048 20.3896 104.685 20.3896H106.537V23.5065H103.478C100.161 23.5065 98.7392 21.9481 98.7392 18.1385Z" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M114.249 13.3766C109.726 13.3766 107.528 15.2814 107.528 18.7446C107.528 22.0346 109.596 23.8961 112.871 23.8961C115.24 23.8961 116.964 22.987 118.213 21.2987L118.342 23.5065H121.617V12.684C121.617 8.39827 119.463 6.40693 114.896 6.40693C110.501 6.40693 108.261 8.2684 108.002 11.9481H111.707C111.837 10.3463 112.828 9.52381 114.766 9.52381C116.834 9.52381 117.782 10.5195 117.782 12.6407V13.3766H114.249ZM117.782 16.1472V18.2251C116.964 19.9134 115.628 20.7792 113.862 20.7359C112.181 20.7359 111.32 19.9134 111.32 18.4848C111.32 16.9697 112.268 16.1472 114.766 16.1472H117.782Z" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M125.279 0H129.113V23.5065H125.279V0Z" fill="black"/>
        </svg>
    </div>
    <div class="nav header__nav">
        <ul class="menu nav__menu">
            <li class="menu__item"><a class="menu__link" href="#">Products</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Customers
                <svg class="menu__arrow" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1L5.35355 4.64645C5.15829 4.84171 4.84171 4.84171 4.64645 4.64645L1 1" stroke="#666666" stroke-linecap="round"/>
                </svg></a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">Solutions <svg class="menu__arrow" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1L5.35355 4.64645C5.15829 4.84171 4.84171 4.84171 4.64645 4.64645L1 1" stroke="#666666" stroke-linecap="round"/>
                </svg></a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">Insights <svg class="menu__arrow" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1L5.35355 4.64645C5.15829 4.84171 4.84171 4.84171 4.64645 4.64645L1 1" stroke="#666666" stroke-linecap="round"/>
                </svg></a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">Blog</a></li>
            <li class="menu__item">
                <a class="menu__link" href="#">Company <svg class="menu__arrow" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1L5.35355 4.64645C5.15829 4.84171 4.84171 4.84171 4.64645 4.64645L1 1" stroke="#666666" stroke-linecap="round"/></svg>
                </a>
            </li>
        </ul>
        <button class="button button_large button_arris" type="button">GET CRYSTAL</button>
    </div>
</div>