<div class="indicators">
    <div class="container container_small">
        <div class="indicator">
            <div class="indicator__data">100+</div>
            <div class="indicator__description">Customers</div>
        </div>
        <div class="indicator">
            <div class="indicator__data">4,055</div>
            <div class="indicator__description">Transactions and Addresses
    Checked Daily</div>
        </div>
        <div class="indicator">
            <div class="indicator__data">70</div>
            <div class="indicator__description">Countries Covered</div>
        </div>
        <div class="indicator">
            <div class="indicator__data">13,522</div>
            <div class="indicator__description">VASPs Explored</div>
        </div>
    </div>
</div>