<div class="info">
    <div class="container container_revers">
        <div class="info__text">
            <div class="info__post">
                <div class="info__title">Evidence-based Procedures</div>
                <div class="info__description">Monitoring system provides an immutable logging solution for historical data that is consistently updated in real-time.</div>
            </div>
            <div class="info__post">
                <div class="info__title">Secure Client Data</div>
                <div class="info__description">Can be deployed  as an on-premise solution in your corporate IT infrastructure to keep all sensitive data within the secure network perimeter. </div>
            </div>
        </div>
        <div class="info__picture">
            <img src="images/Graph.jpg" alt="graph">
        </div>
    </div>
</div>