<div class="main">
    <img class="main__background" src="/images/bg.png" alt="background-image" width="100%">
    <div class="main__content">
        <div class="main__title">AML/ CFT Blockchain Compliance for Banks & Financial Institutions</div>
        <div class="main__description">Integrate Crystal analytics alongside your existing AML/CFT
        procedures to effectively manage risk.</div>
        <button class="button main__button" type='button'>Book a Demo</button> 
    </div>
</div>