<div class="main main_row">
    <img class="main__background main__background_row" src="/images/bg.png" alt="background-image" width="100%">
    <div class="main__content main__content_row">
        <div class="main__text">
            <div class="main__title main__title_small">Get in touch with us</div>
            <div class="main__description main__description_small">Try Crystal for tracking risky transactions and revealing risky entities</div>
        </div>
        <button class="button main__button main__button_margin" type='button'>Book a Demo</button> 
    </div>
</div>