<div class="posts">
    <div class="container container_column">
        <div class="container-title">Blockchain Compliance Use Cases</div>
        <div class="posts__group">
            <div class="post posts__post">
                <a class="post__link" href="#"></a>
                <div class="post__container">
                    <div class="post__title">Tracking Ransomware Payments</div>
                    <div class="post__description">Crystal efficiently tracked payments from the victims of the WannaCry virus. It took four days for the virus to spread across 150 countries - it took Crystal only 3 hours to locate the online entity extorting payments from the affected users.</div>
                    <div class="post__more"><a class="post__ref" href="#">Read more</a></div>
                </div>
            </div>
            <div class="post posts__post">
                <a class="post__link" href="#"></a>
                <div class="post__container">
                    <div class="post__title">Purity of Blockchain Transaction Funds</div>
                    <div class="post__description">With Crystal, users can prove the purity of their blockchain transaction funds. Crystal provides automated risk scoring for incoming and outgoing transactions, and for connected addresses up to 100,000 hops.</div>
                    <div class="post__more"><a class="post__ref" href="#">Read more</a></div>
                </div>
            </div>
            <div class="post posts__post">
                <a class="post__link" href="#"></a>
                <div class="post__container">
                    <div class="post__title">Cloud Mining or Ponzi Scheme</div>
                    <div class="post__description">It is often difficult for users to know whether a mining service is trustworthy. Read on to see how Crystal can be used for due diligence before signing up for a mining service.</div>
                    <div class="post__more"><a class="post__ref" href="#">Read more</a></div>
                </div>
            </div>
        </div>
        <div class="switcher">
            <a href="">
            <svg class="switcher__arrow" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 9L1.35355 5.35355C1.15829 5.15829 1.15829 4.84171 1.35355 4.64645L5 1" stroke="#666666" stroke-linecap="round"/>
            </svg></a>

            
            <svg class="switcher__circle" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="5" cy="5" r="5" fill="black" stroke="#606060"/>
            </svg>

            <svg class="switcher__circle switcher__circle_middle" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="5" cy="5" r="4.5" fill="" stroke="#606060"/>
            </svg>

            <svg class="switcher__circle" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="5" cy="5" r="4.5" fill="" stroke="#606060"/>
            </svg>

           <a href=""><svg class="switcher__arrow" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 9L4.64645 5.35355C4.84171 5.15829 4.84171 4.84171 4.64645 4.64645L1 1" stroke="#666666" stroke-linecap="round"/>
            </svg></a>
        </div>
        
    </div>
</div>

