@import './includes/variables.scss';
@import './includes/resetStyle.scss';
@import './includes/mixins.scss';
@import './includes/style.scss';
@import './includes/functions.scss';
@import './includes/fonts.scss';


@import './includes/blocks/header/header.scss';
@import './includes/blocks/header/nav.scss';
@import './includes/blocks/header/menu.scss';
@import './includes/blocks/main/main.scss';
@import './includes/blocks/indicators/indicators.scss';
@import './includes/blocks/indicators/indicator.scss';
@import './includes/blocks/logos/logos.scss';
@import './includes/blocks/info/info.scss';
@import './includes/blocks/posts/posts.scss';
@import './includes/blocks/posts/post.scss';
@import './includes/blocks/insights/insights.scss';
@import './includes/blocks/insights/insight.scss';
@import './includes/blocks/contacts/contacts.scss';
@import './includes/blocks/input/input.scss';
@import './includes/blocks/input/inputs.scss';
@import './includes/blocks/input/textarea.scss';
@import './includes/blocks/input/checkbox.scss';
@import './includes/blocks/input/form.scss';
@import './includes/blocks/footer/footer.scss';
@import './includes/blocks/widgets/widgets.scss';
@import './includes/blocks/widgets/widget.scss';
@import './includes/blocks/social/social.scss';
@import './includes/blocks/burger/burger.scss';