.insights {
    &__insight {
        @include max-sm {
            margin-top: 30px;
        }
    }
    &__group {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 55px;
        margin-top: 50px;
        align-items: flex-start;

        @include max-lg {
            column-gap: 20px;
        }
        @include max-sm {
            display: block;
            padding-top: 0;
            margin-top: 0;
        }
    }
}