.insight {
    @extend .post;
    &__img-box {
        // height: 195px;
        width: 100%;
        position: relative;
    } 
    &__img-box:before {
        padding-top: 56.25%;
        display: block;
        content: "";
    }
    &__img {
        position: absolute;
        width: 100%;
        object-fit: cover;
        @include max-xl {
            max-height: 100%;
        }
        @include max-lg {
            max-height: 100%;
        }
        @include max-sm {
            min-height: 100%;
        }
        &_radius {
            border-radius: 5px;
        }
    }
    &__title {
        @extend .post__title;
        font-size: 20px;
        margin-top: 15px;
        height: 90px;
        overflow: hidden;
        @include max-xl {
            font-size: 18px;
            height: 80px;
        }
        @include max-lg {
            font-size: 16px;
            
        }
        @include max-sm {
            height: auto;
            font-size: 14px;
        }
    }
    &__description {
        @extend .post__description;
        margin-top: 15px;
        padding: 0;
        @include max-xl {

        }
    }
    &__link {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
    }
    &__ref {
        color: $brand-primary;
        // @extend .post__ref;
        // margin-top: 10px;
    }
    &__more {
        margin-top: 10px;
    }
}