.insight {
    @extend .post;
    &__container {
        // min-height: 450px;
        // height: 100%;
        // display: grid;
        // grid-template-rows: 2fr 1fr;
    }
    &__img-box {
        height: 195px;
        width: 100%;
        position: relative;
    } 
    &__img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        &_radius {
            border-radius: 5px;
        }
    }
    &__title {
        @extend .post__title;
        font-size: 20px;
        margin-top: 15px;
        height: 90px;
        overflow: hidden;
        @include max-sm {
            height: auto;
            font-size: 16px;
        }
    }
    &__description {
        @extend .post__description;
        margin-top: 15px;
        padding: 0;
    }
    &__link {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
    }
    // &__ref {
    //     @extend .post__ref;
    //     margin-top: 10px;
    // }
}