.header {
    display: flex;
    justify-content: space-between;
    @include max-sm {
        max-height: 60px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    &__logo {
        margin: 27px 50px;

        @include max-sm {
            margin: 17px 20px 21px;
        }
    }

    svg {
        vertical-align: middle;
    }
}