.posts {
    background-color: $lynx-white;
    &__group {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 55px;
        padding-top: 50px;
        align-items: flex-start;
        @include max-sm {
            display: block;
            padding-top: 0;
        }
    }
    &__post {
        border-radius: 5px;
        background-color: $white;
        box-shadow: 1px 1px 17px 5px;
        @include max-sm {
            margin-top: 10px;
        }
        &_active {
            background-color: $brand-primary;
            box-shadow: 1px 1px 14px 8px;
        }
    }
}