.contacts {
    position: relative;
    width: 100%;
    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 5;
    }
    &__left {
        display: flex;
        flex-direction: column;
        z-index: 10;
        max-width: 660px;
        width: 100%;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__capcha {
        // max-width: 303px;
        width: 100%;
        position: relative;
        margin-top: 20px;
    }
    &__capcha:before {
        // max-width: 303px;
        display: block;
        content: "";
        padding-top: 82px;

    }
    &__img {
        position: absolute;
        top: 0;
        display: block;
        @include max-iph {
            width: 100%;
        }
    }

    &__button {
        padding: 15px;
        margin-top: 21px;
        background-color: rgb(246,190,0,1);
        // rgb(246,190,0,0.5)
        font-weight: bold;
        @include max-sm {
            margin-top: 10px;
        }
    }
    &__button[disabled] {
        color: $black;
        background-color: rgb(246,190,0,0.7);
        cursor: initial;
    }
    &__right {
        display: flex;
        flex-direction: column;
        z-index: 10;
        color: $white;
        max-width: 355px;
        width: 100%;
        @extend .form__input;
        
        @include max-sm {
            margin-left: 0;
        }
        &-title-wrapper {
            display: flex;
            font-size: 25px;
            line-height: 30px;
            position: relative;
            @media (max-width: 660px) {
                margin-left: 33px;
            }
            @include max-sm {
                margin-left: 0;
            }
            & + .contacts__right-address {
                margin-top: 10px;
            }
        }
        &-title {
            @include max-lg {
                font-size: 16px;
                
            }
            @include max-sm {
                font-size: 20px;
                margin-left: 10px;
            }
        }
        &-address {
            font-size: 20px;
            line-height: 30px;
            margin-top: -1px;
            @include max-lg {
                font-size: 15px;
                line-height: 24px;
            }
            @include max-sm {
                font-size: 17px;
                line-height: 24px;
            }
            &_margin {
                // margin-top: 5px;
            }
        }
        &-address_gold {
            margin-top: 7px;
            color: $brand-primary;
            @include max-sm {
                margin-top: 0;
            }
        }
    }
    &__mail {
        margin-top: 25px;
        @include max-sm {
            margin-top: 10px;
        }
    }
    &__location {
        position: absolute;
        left: -33px;
        top: 4px;
        @include max-sm {
            position: initial;
        }
    }
}
