.info {
    background-color: $lynx-white;
    width: 100%;

    &_revers .container {
        .info__text {
            padding-right: 0;

            @include max-lg {
                margin: 20px 0 0;
            }

            @include max-sm {
                margin: 0;
            }



            .info__post {
                @include max-lg {
                    // margin-top: 20px;
                }

                .info__title {
                    line-height: 40px;
                    margin-top: -6px;
                }

                .info__description {
                    line-height: 24px;
                    padding-top: 7px;
                }
            }
        }

        .info__picture {
            padding-right: 50px;
            margin: -8px 0;
            width: 100%;
            // position: relative;

            @include max-lg {
                padding-right: 0;
                margin: 0 auto;
            }

            @include max-md {
                margin: 0 auto 30px;
            }

            @include max-sm {
                padding-right: 0;
                margin-bottom: 20px;
            }
        }
        // .info__picture:before {
        //     display: block;
        //     content: "";
        //     padding-top: 56.25%;
        // }
    }

    &+& {
        background-color: $white;
        width: 100%;
    }

    &__text {
        flex-direction: column;
        padding-right: 30px;

        @include max-lg {
            padding-right: 0;
            margin: 20px 0 20px;
        }

        &_row {
            @include max-sm {
                display: flex;
                flex-direction: column;
                padding-right: 0;
                text-align: center;
            }
        }
    }

    &__post {
        text-align: left;
    }

    &__post+&__post {
        margin-top: 55px;

        @include max-lg {
            margin-top: 30px;
        }

        @include max-sm {
            margin-top: 25px;
        }
    }

    &__title {
        font-size: 25px;
        line-height: 31px;
        font-weight: bold;
        color: $black;

        @include max-xl {
            font-size: 20px;
            line-height: 25px;
        }

        @include max-sm {
            font-size: 16px;
            line-height: 25px;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 25px;
        color: $black;
        padding-top: 14px;

        @include max-xl {
            font-size: 15px;
            line-height: 25px;
        }

        @include max-sm {
            font-size: 14px;
            line-height: 17px;


        }
    }

    &__picture {
        margin: 7px 0;
        width: 100%;
        // position: relative;
        @include max-sm {
            padding: 0;
            width: 100%;
        }

        @include max-lg {
            margin: 0 auto;
        }
    }
    // &__picture:before {
    //     display: block;
    //     content: "";
    //     padding-top: 56.25%;
    // }
    &__svg {
        // position: absolute;
        // top: 0;
        // width: 100%;
        // height: 100%;
        // display: block;
        @include max-sm {
            width: 100%;
            height: 100%;
        }
    }
}