.checkbox {
    display: flex;
    margin-top: 15px;
    align-items: center;
    &__input[type="checkbox"] {
        opacity: 0;
        position: absolute;
    }
    &__label {
        position: relative;
        display: inline-block;
        padding-right: 25px;
        &_margin {
            margin-top: 3px;
            &-top {
                margin-top: -12px;
            }
        }
        
        &::after,
        &::before {
            position: absolute;
            content: "";
            display: inline-block;
            
        }
        &::before {
            height: 14px;
            width: 14px;
            border: 1px solid #666;
            left: 3px;
            top: -13px;
            background-color: $white;
            border-radius: 1px;
        }
        &::after {
            height: 3px;
            width: 8px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            transform: rotate(-45deg);
            left: 3px;
            top: 10px;
            color: $black;
        }
    }
    &-policy {
        margin-top: 4px;
    }
    &-subscribe {
        margin-top: -11px;
    }
    &__input[type="checkbox"] + &__label::after {
        content: none;
    }
    &__input[type="checkbox"]:checked + &__label::after {
        content: "";
    }
    &__text {
        font-size: 14px;
        line-height: 20px;
    }
    &__text:hover {
        cursor: pointer;
    }
} 



