.input {
    border-radius: 5px;
    padding: 15px;
    max-width: 660px;
    width: 100%;
    margin-top: 20px;
    &::placeholder {
        font-size: 16px;
        line-height: 20px;
        color: $dark-gray;
    }
    // &-flex__select::after {
    //     content: "▼";
    //     padding: 0 8px;
    //     font-size: 12px;
    //     position: absolute;
    //     right: 8px;
    //     top: 4px;
    //     z-index: 1;
    //     text-align: center;
    //     width: 10%;
    //     height: 100%;
    //     pointer-events: none;
    //     box-sizing: border-box;
    // }
    &_code {   
        background-color: $gainsboro;
        border-radius: 4px 0px 0px 4px;
        max-width: 110px;
        width: 100%;
        background-image: url(/assets/images/united-states.png);
        background-repeat: no-repeat;
        background-position: 14px;
        padding-left: 50px;
    }
    &_radius {
        border-radius: 0 4px 4px 0;
    }
}