.inputs {
    &-group {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        @include max-sm {
            grid-template-columns: 1fr;
        }
    }
    &-flex {
        display: flex;
        position: relative;
        &__select {
            position: relative;
            display: inline-block;
        }
        &__arrow {
            position: absolute;
            bottom: 0;
            left: 95px;
            transform: translateY(-21px);
            @include max-sm {
                transform: translateY(-17px);  
            }
        }
    }
}