.input {
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    // margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Bio-sans-regular';
    @include max-sm {
        padding: 10px;
    }
    &::placeholder {
        font-size: 16px;
        line-height: 20px;
        color: $dark-gray;
    }
    &_code {   
        background-color: $gainsboro;
        border-radius: 4px 0px 0px 4px;
        max-width: 110px;
        width: 100%;
        background-image: url(../images/united-states.png);
        background-repeat: no-repeat;
        background-position: 14px;
        padding-left: 50px;
        font-size: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    &_radius {
        border-radius: 0 4px 4px 0;
    }
}