.inputs {
    &-group {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;

        @include max-sm {
            grid-template-columns: 1fr;
        }

        &_select {
            @include max-lg {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
            }
        }

        &__arrow {
            position: absolute;
            right: 21px;
            bottom: 23px;

        }
    }

    &-flex {
        display: flex;
        position: relative;
        pointer-events: all;

        &__select {
            position: relative;
            display: inline-block;
        }

        &__arrow {
            position: absolute;
            bottom: 2px;
            left: 95px;
            transform: translateY(-21px);

            @include max-sm {
                transform: translateY(-20px);
            }
        }
    }
}